<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- <select id="boardList" resultType="com.giens.springboard.vo.BoardVO"> -->
	<select id="boardList" parameterType="String" resultType="com.giens.springboard.vo.BoardVO">
		SELECT @ROWNUM:=@ROWNUM-1 as ROWNUM
			  , B.TITLE
		      , B.CONTENTS
		      , DATE_FORMAT(B.REG_DATE, '%Y-%m-%d') as REG_DATE
		      , B.USER_ID
		      , B.BOARD_NO
		      , B.ORIGIN_NO
		      , B.GROUP_LAYER
		      , B.GROUP_SEQ
		      , B.P_BOARD_NO
		      , B.GROUP_PATH
		      , (SELECT COUNT(0) FROM board WHERE p_board_no = B.board_no) as REPLY_CNT
		FROM board B, (SELECT @ROWNUM := (SELECT COUNT(0) FROM board)+1) TMP
		WHERE 1=1
			<include refid="searchOption"></include>
  		ORDER BY B.ORIGIN_NO DESC
	</select>
	
	<sql id="searchOption">
		<if test="searchType != null">
			<if test="searchType == title">AND B.TITLE LIKE '%'||#{keyword}||'%'</if>
			<if test="searchType == userID">AND B.USER_ID LIKE '%'||#{keyword}||'%'</if>
		</if>
	</sql>
	
	<insert id="addBoard" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="boardNo">
		INSERT INTO board(TITLE, CONTENTS, USER_ID)
		VALUES(#{title}, #{contents} , #{userID})	
		
		<selectKey keyProperty="boardNo" resultType="Integer">
        	SELECT LAST_INSERT_ID()
    	</selectKey>	
	</insert>
	
	<update id="updateBoardNew">
		UPDATE board
		SET GROUP_PATH = CONCAT(CAST(BOARD_NO as CHAR), '-')
		    , ORIGIN_NO = BOARD_NO
		WHERE ORIGIN_NO = 0
	</update>
	
	<insert id="addBoardFile" parameterType="java.util.List">
		INSERT INTO board_file(
			FILE_NAME
			, STORED_FILE_NAME
			, FILE_SIZE
			, BOARD_NO
			, FILE_PATH
		)VALUES 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.FILE_NAME}
			, #{item.STORED_FILE_NAME}
			, #{item.FILE_SIZE}
			, #{item.BOARD_NO}
			, #{item.FILE_PATH}
		)
		</foreach>
	</insert>
	
	<select id="boardDetail" parameterType="int" resultType="com.giens.springboard.vo.BoardVO">
		SELECT "" as ROWNUM
			  , B.TITLE 
		      , B.CONTENTS
		      , DATE_FORMAT(B.REG_DATE, '%Y-%m-%d %H:%i') as REG_DATE
		      , B.USER_ID
		      , B.BOARD_NO 
		      , B.ORIGIN_NO
		      , B.GROUP_LAYER 
		      , B.GROUP_SEQ 
		      , B.P_BOARD_NO 
		      , B.GROUP_PATH 
		      , (SELECT COUNT(0) FROM board WHERE p_board_no = B.board_no) as replyCnt
		FROM board B
		WHERE B.BOARD_NO = #{boardNo} OR B.P_BOARD_NO = #{boardNo}
	</select>

	<select id="fileList" parameterType="int" resultType="hashMap">
		SELECT FILE_NO
			, FILE_NAME
			, STORED_FILE_NAME
			, FILE_SIZE <!-- , CEIL(FILE_SIZE/1024) AS FILE_SIZE -->
			, FILE_PATH
		FROM BOARD_FILE
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="file" parameterType="hashMap" resultType="hashMap">
		SELECT STORED_FILE_NAME
			, FILE_NAME
			, FILE_PATH
		FROM BOARD_FILE
		WHERE FILE_NO = #{FILE_NO}
	</select>
	
	<update id="editBoard" parameterType="com.giens.springboard.vo.BoardVO">
		UPDATE BOARD
			SET TITLE = #{title}
				, CONTENTS = #{contents}
				, USER_ID = #{userID}
				, REG_DATE = current_timestamp()
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteBoardFile" parameterType="java.util.List">
		DELETE
		FROM BOARD_FILE
		<where>
			<foreach collection="list" item="item" open="(" close=")" separator="OR">
				FILE_NO = #{item.fileNo}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE
		FROM BOARD
		WHERE BOARD_NO = #{boardNo}
	</delete>
</mapper> 

